{
  "tailwindConfig": "./tailwind.config.js",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx"],
  "bracketSameLine": true,
  "trailingComma": "es5"
}
